# Dependencies
node_modules/
.pnpm-store/

# Prisma
prisma/migrations/

# Environment
.env
.env.local
.env.production

# Build
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Misc
*.pem
/src/generated/prisma
